# This is adapted from the anaconda ks file from the installation of karlslab server 
# as a Fed 20 webserver 11th July 2013 - Base packages, basic Fedora 20 server install
# For KVM Virtual Servers on karlslab

#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
text
# Use network installation
url --url="http://10.33.11.187/os/fedora/20/Fedora-20-x86_64-DVD"
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=gb --xlayouts='gb'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=dhcp --noipv6 --activate
# Root password
rootpw --iscrypted $6$uZAxKqUeCrMP4NA0$5K4o..CcS1x/wuSD31wQyYRQIk4X8nR9Kf4HC0T.RnTJaLxiW..hijUWoemRRnxZq3FCONyXGgmTYMvIEMmv5.
# System timezone
timezone Europe/London --isUtc 
user --groups=wheel --name=kstevens --password=$6$lBziJ/GDAoEi5Q93$OIEcXiFAy7yXUU4IhlCj2O5CUPP8ZbCzBaGr7CwEkx/O1yV4eNg6dukvQTrjBxAQj3.QDIbLxwG4w7is/F1JG0 --iscrypted --gecos="Karl Stevens"
#Disk(s)
zerombr
clearpart --all 
bootloader --location mbr
part /boot --fstype=ext4 --size=500
part / --fstype=ext4 --size=1024 --grow
part swap --size=1024
reboot

%packages
@core
@hardware-support
@standard

%end
